<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>
<h2>Asteptarea a luat sfarsit! Rezerva-ti din timp masa la cele mai cautate localuri din Bucuresti!</h2>

<div style="background-color: honeydew;">
  <h2 style="text-align:center;">Management restaurante</h2>
  <h3>Adauga un restaurant</h3>
  <form [formGroup]="addRestaurantForm" (ngSubmit)="onAdd()">
    <div class="form-group">
      <label>ID restaurant</label>
      <input type="text" formControlName="id" class="form-control"/>
    </div>

    <div class="form-group">
      <label>Nume restaurant</label>
      <input type="text" formControlName="name" class="form-control"/>
    </div>

    <div class="form-group">
      <label>Numar de mese disponibile (mese a cate 4 persoane)</label>
      <input type="text" formControlName="numberOfTables" class="form-control"/>
    </div>

    <div class="form-group">
      <label>Parola (pentru administrator)</label>
      <input type="password" formControlName="password" class="form-control"/>
    </div>

    <div class="form-group">
      <label> Descriere </label>
      <input type="text" formControlName="description" class="form-control"/>
    </div>

    <div class="form-group">
      <label>Adresa</label>
      <input type="text" formControlName="address" class="form-control"/>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Adauga</button>
    </div>
  </form>

  <h3>Afiseaza toate restaurantele disponibile</h3>
  <button (click)="getRestaurants()">Incarca toate restaurantele</button>

  <div *ngFor="let restaurant of restaurants">
    <b>Nume:</b> {{restaurant.name}} <br>
    <b>Numar mese:</b> {{restaurant.numberOfTables}} <br>
    <b>Adresa:</b> {{restaurant.address}} <br>
    <b>Descriere:</b> {{restaurant.description}}
  </div>

  <h3>Sterge un restaurant din lista</h3>
  <form [formGroup]="deleteRestaurantForm" (ngSubmit)="onDelete()">
    <div class="form-group">
      <label>ID restaurant</label>
      <input type="text" formControlName="id" class="form-control"/>
    </div>

    <div class="form-group">
      <label>Parola</label>
      <input type="password" formControlName="password" class="form-control"/>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Sterge</button>
    </div>
  </form>

  <h3>Modifica numarul meselor disponibile</h3>
  <form [formGroup]="modifyRestaurantDetailsForm" (ngSubmit)="onModify()">
    <div class="form-group">
      <label>ID restaurant</label>
      <input type="text" formControlName="id" class="form-control"/>
    </div>

    <div class="form-group">
      <label>Noul numar total de mese</label>
      <input type="text" formControlName="numberOfTables" class="form-control"/>
    </div>

    <div class="form-group">
      <label>Parola</label>
      <input type="password" formControlName="password" class="form-control"/>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Aplica modificarea</button>
    </div>
  </form>
</div>

<div style="background-color: antiquewhite;">
  <h2 style="text-align:center;">Management rezervari</h2>
  <h3>Adauga o rezervare</h3>
  <form [formGroup]="addReservationForm" (ngSubmit)="onAddReservation()">
    <div class="form-group">
      <label>Prenume</label>
      <input type="text" formControlName="name" class="form-control"/>
    </div>

    <div class="form-group">
      <label>Nume</label>
      <input type="text" formControlName="surname" class="form-control"/>
    </div>

    <div class="form-group">
      <label>Numar de telefon</label>
      <input type="text" formControlName="phone" class="form-control"/>
    </div>

    <div class="form-group">
      <label>E-mail</label>
      <input type="text" formControlName="email" class="form-control"/>
    </div>

    <div class="form-group">
      <label>Restaurant</label>
      <input type="text" formControlName="restaurant" class="form-control"/>
    </div>

    <div class="form-group">
      <label>Data (format YYYY-MM-DD) </label>
      <input type="text" formControlName="date" class="form-control"/>
    </div>

    <div class="form-group">
      <label>Ora (format HH:MM:SS) </label>
      <input type="text" formControlName="time" class="form-control"/>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Adauga</button>
    </div>
  </form>

  <h3>Afiseaza toate rezervarile din aplicatie</h3>
  <button (click)="getReservations()">Afiseaza</button>

  <div *ngFor="let reservation of reservations">
    <b>Prenume:</b> {{reservation.name}} <br>
    <b>Nume:</b> {{reservation.surname}} <br>
    <b>E-mail:</b> {{reservation.email}} <br>
    <b>Restaurant:</b> {{reservation.restaurant}}<br>
    <b>Data:</b>{{reservation.date}}<br>
    <b>Ora:</b>{{reservation.time}}
  </div>
</div>

<div style="background-color: burlywood;">
  <h2 style="text-align:center;">Management intervale disponibile</h2>
  <h3>Adauga un interval</h3>
  <form [formGroup]="addIntervalForm" (ngSubmit)="onAddInterval()">
    <div class="form-group">
      <label>ID restaurant</label>
      <input type="text" formControlName="restId" class="form-control"/>
    </div>

    <div class="form-group">
      <label>Data (format YYYY-MM-DD) </label>
      <input type="text" formControlName="date" class="form-control"/>
    </div>

    <div class="form-group">
      <label>Ora (format HH:MM:SS) </label>
      <input type="text" formControlName="time" class="form-control"/>
    </div>

    <div class="form-group">
      <label>Numar de mese disponibile la acea ora</label>
      <input type="text" formControlName="numberOfAvailableTables" class="form-control"/>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Adauga interval</button>
    </div>
  </form>

  <h3>Afiseaza toate intervalele disponibile</h3>
  <button (click)="getIntervals()">Afiseaza</button>

  <div *ngFor="let interval of intervals">
    <b>ID restaurant:</b> {{interval.restId}} <br>
    <b>Data:</b> {{interval.date}} <br>
    <b>Ora:</b> {{interval.time}} <br>
    <b>Numar de mese disponibile:</b> {{interval.numberOfAvailableTables}}<br>
  </div>
</div>

<router-outlet></router-outlet>
